
#news p {
    font-size: 15.5px;
    word-spacing: 1.5px;
}

#info p, li {
    font-size: 16px;
    word-spacing: 1.5px;
}

#description p {
    font-size: 16px;
}

#matrial li a {
    font-family: PF DIN Text Arabic;
    font-size: 20px;
}

#description h4 {
    font-family: "Aljazeera";
}

#newsPage p {
    font-size: 16px;
    word-spacing: 1.5px;
}

#csPara p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#isPara p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#is1Para p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#itPara {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#orPara {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#art {
    font-size: 20px;
}

#sport p {
    font-size: 16.5px;
    word-spacing: 1.5px;
    /*font-weight: bold;*/
}

#sport li {
    font-size: 15.5px;
    word-spacing: 1px;
    /*font-weight: bold;*/
}

#cultural p {
    font-size: 18px;
    word-spacing: 1.5px;
}

#cultural li {
    font-size: 16px;
    word-spacing: 1.5px;
}

#science p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#social p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#gwala p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#jurney p {
    font-size: 16.5px;
    word-spacing: 1.5px;
}

#jurney li {
    font-size: 16px;
    word-spacing: 1px;
}

#table h3 {
    font-size: 20px;
    word-spacing: 1px;
    font-style: bold;
    font-weight: 600;
}

#table table th {
    font-size: 17px;
    word-spacing: 1px;
}

#table table td {
    font-size: 16px;
    word-spacing: 1px;
}

#contentTable {
    width: 1000px;
    margin-top: 30px;

}

#contentTable1 {
    width: 1000px;
    margin-top: 30px;

}
#matmain{
    margin-top: 15px;
}

#matmain p{
    font-size: 16px;
    word-spacing: 1px;
}










